@{
    ViewData["Title"] = "Home Page";
}
@model List<InternApp.Models.AppCards>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem; margin-left:5rem; margin-top:2rem; background-color:#9EFDFC;">
            <img src="@item.Img" class="card-img-top" style="margin-top:2px;" alt="...">
            <div class="card-body" style="background-color:#9EFDFC;">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Text</p>
                @if (item.Id == 1)
                {
                    <a asp-controller="BMICalculator" asp-action="index" class="btn ice-button">Şimdi Hesapla</a>
                }
                else if (item.Id == 2)
                {
                    <a asp-controller="Quote" asp-action="index" class="btn ice-button">Alıntılar</a>
                }
                else if (item.Id == 3)
                {
                    <a asp-controller="Notes" asp-action="index" class="btn ice-button">Notlar</a>
                }
                else if (item.Id == 4)
                {
                    <a asp-controller="Weather" asp-action="index" class="btn ice-button">Hava Durumu</a>
                }


            </div>
        </div>
    }
</div>

